packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: italians_by_the_bay.wsgi:application
  
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: "production"
    AWS_REGION: "us-east-1"
    AWS_STORAGE_BUCKET_NAME: "italians-by-the-bay-media"