option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: "production"
    AWS_REGION: "us-east-1"
    AWS_STORAGE_BUCKET_NAME: "italians-by-the-bay-media"
    DDB_TABLE_NAME: "OrderAnalytics"
    DEFAULT_FROM_EMAIL: "no-reply@italians_by_the_bay.com"
    AWS_SNS_TOPIC_ARN: "arn:aws:sns:us-east-1:211125567714:order-notification-topic"
