{% extends 'base.html' %}
{% block content %}
<h2>DynamoDB Order Analytics</h2>

<p><strong>Total Orders:</strong> {{ count }}</p>
<p><strong>Total Revenue:</strong> €{{ total_revenue }}</p>

<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User Name</th>
            <th>Status</th>
            <th>Total (€)</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr>
            <td>{{ o.order_id }}</td>
            <td>{{ o.username }}</td>
            <td>{{ o.status }}</td>
            <td>{{ o.total }}</td>
            <td>{{ o.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
