{% extends "base.html" %}
{% block content %}
<div class="container mt-5" style="max-width: 450px;">
  <h2 class="text-center mb-4">Create Account</h2>

  <form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-dark w-100 mt-3">Register</button>
  </form>

  <p class="text-center mt-3">
    Already have an account?
    <a href="{% url 'login' %}">Login</a>
  </p>
</div>
{% endblock %}